<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>maven-release</id>
            <username>${env.ARTIFACTORY_CREDENTIALS_USR}</username>
            <password>${env.ARTIFACTORY_CREDENTIALS_PSW}</password>
        </server>
        <server>
            <id>maven-snapshot</id>
            <username>${env.ARTIFACTORY_CREDENTIALS_USR}</username>
            <password>${env.ARTIFACTORY_CREDENTIALS_PSW}</password>
        </server>
    </servers>
</settings>